:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.2;
  font-size: 62.7%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
}
/*HEADER SECTION*/
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* position: fixed; */
  width: 100%;
  z-index: 999;
}

#nav-sect {
  text-decoration: none;
  color: #fff;
}
.nav-logo {
  text-decoration: none;
  color: #fff;
}

a.active {
  background-color: lightblue;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.header-list {
  display: flex;
  list-style-type: none;
  padding: 2rem;
  align-items: center;
}
.header-list > li {
  padding: 1rem;
}

/*HERO SECTION*/
.hero-title {
  font-size: 10rem;
  text-align: center;
  color: #242424;
  letter-spacing: 4rem;
}
.hero-main {
  display: flex;
  flex-wrap: wrap;
}
.hero-section {
  margin: auto;
}

.hero-pages {
  max-width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heroMain {
  display: flex;
  flex-wrap: wrap;
}
.inner-page {
  background-color: #fff;
  color: #000;
  min-width: 250px;
  height: 300px;
  opacity: 0.4;
  padding: 2rem;
  line-height: 1.5rem;
  font-size: 2rem;
  border-radius: 3rem;
  word-spacing: 1rem;
}
.inner-page > p {
  line-height: 3rem;
}
.inner-page > h2,
h1 {
  text-align: right;
  font-weight: bold;
}
hr {
  margin: 4rem;
  border: 0.3rem lightslategray solid;
  height: 300px;
}
/*AUTHENTICATE*/
.authenticate {
  background-color: lightblue;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  text-align: center;
  padding: 1rem;
  margin: auto;
}
#login-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0.7rem;
}
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
}
.lower-input {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}
.input {
  padding: 1rem;
  border-radius: 3rem;
  width: 150px;
  margin: 1rem;
  text-align: center;
  border: none;
  color: #000;
  background-color: silver;
  outline: none;
}
#login-btn {
  padding: 0.5rem 3rem;
  border-radius: 4rem;
  border: none;
  background-color: steelblue;
}
.linked {
  text-decoration: none;
  color: #fff;
}
#login-btn:hover {
  opacity: 0.5;
}
.signup-con {
  color: #fff;
}
/*SIGNUP*/
.signup {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: lightcyan;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000;
  margin: auto;
}
.sign-class {
  display: flex;
  padding: 2rem;
}
/*NOTFOUND*/
#notfound {
  text-align: center;
  color: #000;
  font-size: 4rem;
}
/*DASHBOARD*/
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-get .hide {
  display: none;
}
.dash-title {
  font-size: 2.5rem;
}
.dash-control {
  background-color: lightblue;
  height: 100vh;
  width: 300px;
  border-radius: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.profile {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(133, 145, 179);
  margin: 1rem;
  border-radius: 3rem;
}
.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.profile-img:hover {
  scale: 1.1;
  transition: 2s ease;
}
.profile-input {
  width: 250px;
}

.profile-read {
  margin: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.profile-read:hover,
.upload:hover {
  opacity: 0.6;
  background-color: #242424;
  transition: 1s ease-in-out;
}
.right-profile > a {
  color: #fff;
}
.upload {
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin: auto;
}

.data-set img,
.upload img {
  width: 20px;
  padding: 0.2rem;
  border-radius: 50%;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-book {
  width: 500px;
  background-color: lightblue;
}

.centre-dashboard {
  background-color: lightblue;
  height: 70vh;
  width: 600px;
  border-radius: 4rem;
  padding: 2rem;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: black;
  bottom: 1rem;
}
.book-page {
  font-size: 2rem;
  overflow: hidden;
}

.right-control {
  background-color: lightblue;
  height: 100vh;
  width: 300px;
  border-radius: 4rem;
  line-height: 3rem;
  padding: 2rem;
  color: #242424;
}
.right-control img {
  width: 100%;
  border-radius: 2rem;
  height: 40vh;
}
.right-control img:hover {
  scale: 1.1;
  transition: 2s ease;
}
#right-title {
  font-size: 2rem;
}
.progress {
  display: flex;
  justify-content: space-around;
}
.progress img {
  width: 100px;
  height: 100px;
}
